body {
    background-color: #FAEBE0;
    font-family: 'Merriweather', serif;
}

img {
    border: 6px solid #C1AC95;
}

h1 {
    color: #B85C5C;
}

h2, p, ul, ol, a {
    color: #2C2C2C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.description, .ingredients, .steps {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    border: 6px solid #C1AC95;
    padding: 15px;
    margin: 20px auto;
}

header, .anchor, .content, .image {
    text-align: center;
}


