body {
    background-color: #FAEBE0;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0 auto;
}

img {
    border: 6px solid #C1AC95;
}

h1 {
    color: #B85C5C;
}

h2, p, ul, ol, a {
    color: #2C2C2C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}